@import '../../styles/common.scss';

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	img {
		border-radius: 20px;
		width: inherit;
	}
}

.shadow {
	width: 360px;
	border-radius: 20px;
	position: relative;
}
