@import '../../styles/common.scss';

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	img {
		border-radius: 20px;
		width: inherit;
		height: 468px;
	}
}

.shadow {
	width: 360px;
	border-radius: 20px;
	position: relative;
}

.invisible {
	opacity: 0;
}
.visible {
	animation-name: fadeInPhoto;
	animation-duration: 1s;
}

@keyframes fadeInPhoto {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
