@import '../../styles/common.scss';

.swiperContainer {
	width: 100%;
	max-width: 700px;
	height: 758px;
	display: flex;
	position: absolute;
	z-index: -2;
	top: 5vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}
.controlsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: rgba(17, 179, 179, 0.4);
	width: 100%;
	border-radius: 50px 30px 60px 35px;
	transform: rotate(3deg);
	height: 150px;
}
.swiperDeck {
	margin-top: 32px;
	width: 360px;
	height: 444px;
	border-radius: 20px;
	position: relative;

	p {
		font-size: 32px;
		margin: auto;
		font-weight: bold;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 24px;
		text-align: center;
		letter-spacing: 8px;
	}
}
.swiperDeck:before,
.swiperDeck:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -4px;
	padding: 4px;
	@extend .mainGradient;
	background-size: 400% 400%;
	width: 360px;
	height: 464px;
	border-radius: 20px;
	z-index: -1;
	animation: animate 7s ease alternate infinite;
}
.swiperDeck:after {
	filter: blur(20px);
}
@keyframes animate {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.swiper {
	position: absolute;
	border-radius: 20px;
	// &:nth-child(odd) {
	// 	transform: rotate(3deg);
	// }
}
