@import '../../styles/common.scss';

.swiperContainer {
	width: 100%;
	max-width: 700px;
	height: 650px;
	display: flex;
	position: absolute;
	z-index: -2;
	top: 5vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	p {
		font-size: 20px;
		margin-top: 0px;
	}
}
.controlsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: rgba(175, 1, 113, 0.4);
	width: 100%;
	border-radius: 50px 30px 60px 35px;
	transform: rotate(3deg);
	height: 150px;
	margin-top: 103px;
}
.swiperDeck {
	margin-top: 32px;

	width: 360px;
	height: 202px;
	border-radius: 20px;
	position: relative;
}
.swiperDeck:before,
.swiperDeck:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	@extend .mainGradient;
	background-size: 400% 400%;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	border-radius: 20px;
	z-index: -1;
	animation: animate 7s ease alternate infinite;
}
.swiperDeck:after {
	filter: blur(20px);
}
@keyframes animate {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.swiper {
	position: absolute;
	border-radius: 20px;
	// &:nth-child(odd) {
	// 	transform: rotate(3deg);
	// }
}
