@font-face {
	font-family: 'Rage Italic';
	src: url('/fonts/Rage Italic.ttf'); // pattern: /directoryName/file.extension
}

.mainGradient {
	background: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}
.colorfullGradient {
	background-image: linear-gradient(
		to right bottom,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
}
.viceCityGradient {
	background: linear-gradient(
		to bottom,
		#000000,
		#070405,
		#0c080c,
		#100c12,
		#111017,
		#171724,
		#1b1d32,
		#1d2341,
		#372959,
		#5b2a6b,
		#842273,
		#af0171
	);
}

.paragraphText {
	font-family: 'Cinzel', serif;
	/* font-family: 'Italiana', serif; */
	font-size: 2rem;
	font-size: 1rem;
	color: white;
}
.title {
	// font-family: 'Rage Italic';
	font-family: 'Playfair Display SC', serif;
	// @extend .mainGradient;
	position: relative;
	font-size: 3em;
	font-weight: bold;
	color: white;
	letter-spacing: 1rem;
	text-align: center;
}
