@import './common.scss';

.appContainer {
}

body {
	overflow: hidden;
	margin: auto;
	// font-family: 'Cinzel', serif;
	/* font-family: 'Italiana', serif; */
	backdrop-filter: blur(5px);
	background: #070405;
	height: 100vh;
}
.main {
	overflow: hidden;
}
